.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin: 100px;
}
.feat {
  width: 70%;
  text-align: center;
  align-items: center;
  margin: 50px;
}
