.footer-container {
  font-family: "Open Sans", sans-serif;
  padding: 50px;
  background-color:hsl(216, 53%, 9%);
  margin-top: 21px;
}

.footer__enlaces-container {
  display: flex;
  justify-content: space-between;
}
.footer__location {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.footer__phone {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.footer__email {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.margen-footer p {
  margin-bottom: 15px;
}
.footer__socials {
  display: flex;
  gap: 10px;
}
